<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            font-family: "Fraunces", serif;
            font-size: 125%;
            white-space: nowrap;
            margin: 0;
            border: none;
            border-collapse: separate;
            border-spacing: 0;
            table-layout: fixed;
            border: 1px solid black;
        }

        table td,
        table th {
            border: 1px solid black;
            padding: 0.5rem 1rem;
        }

        table thead th {
            padding: 3px;
            position: sticky;
            top: 0;
            z-index: 1;
            width: 25vw;
            background: white;
        }

        table td {
            background: #fff;
            padding: 4px 5px;
            text-align: center;
        }

        table td.dev {
            background: #BBBBBB;
        }

        table tbody th {
            font-weight: 100;
            font-style: italic;
            text-align: left;
            position: relative;
        }

        table thead th:first-child {
            position: sticky;
            left: 0;
            z-index: 2;
        }

        table tbody th {
            position: sticky;
            left: 0;
            background: white;
            z-index: 1;
        }

        caption {
            text-align: left;
            padding: 0.25rem;
            position: sticky;
            left: 0;
        }

        [role="region"][aria-labelledby][tabindex] {
            width: 100%;
            max-height: 98vh;
            overflow: auto;
        }

        [role="region"][aria-labelledby][tabindex]:focus {
            box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
            outline: 0;
        }
    </style>
</head>
<body>
<table>
    <caption id="caption">Composer dashboard (Last Update from {{ lastChange }})</caption>
    <thead>
    <tr>
        <th>Project/Package</th>
        {% for package in packages %}
            <th>{{ package }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for article in data %}
        <tr>
            <th>
                <a href="{{ article.project.webUrl }}" target="_blank">{{ article.project.name }}</a>
                <br>{{ article.project.path }}
            </th>
            {% for package in packages %}
                {% if article.dependencies[package] is defined and article.dependencies[package] is iterable %}
                    {% if article.dependencies[package].require is defined %}
                        <td>
                            {{ article.dependencies[package].require.constraint }}
                            {% if article.dependencies[package].require.installed is not empty %} <br><small>
                                ({{ article.dependencies[package].require.installed }})</small>{% endif %}
                        </td>
                    {% elseif article.dependencies[package].dev is defined %}
                        <td class="dev">
                            {{ article.dependencies[package].dev.constraint }}
                            {% if article.dependencies[package].dev.installed is not empty %} <br><small>
                                ({{ article.dependencies[package].dev.installed }})</small>{% endif %}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>